// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header-blue  {
	background-color: #227de6;
}

.header {
	padding: 20px 5;
}

#notifications{
	display: none;
}

.img-circle{
	border-radius: 50%;
}

