<footer class="pt-4 pt-sm-5 pt-md-6 pt-lg-7" id="footer">
	<div class="container">
		<div class="row d-flex flex-sm-wrap flex-xs-wrap pb-3 pb-sm-4">

			<div class=" col pb-4 d-sm-block">
				<header class="pb-2">
					<h2>Contato</h2>
				</header>

				<div class="content" id="contact">
                        <p class="font-weight-bold m-0">
                            <span class="select">
                                <a href="" target="_blank">(81) 3346-8888</a><br/>
                                <a href="" target="_blank">(81) 98820-2225</a>
                            </span><span class="mx-1"></span>
                        </p>
                             
                        <p class="font-weight-bold mt-3">
                            <span class="select">Av. Santo Brazica de Luanda, 1996 <br> - Conj. 512  Dr. Silva - Recife, PE</span>
                        </p>
                        
                        <p>
                            <span class="select">
                                <div class="d-block font-weight-bold">
                                    <a href="alexsilva10s@hotmail.com" target="_blank">
                                        <span class="__cf_email__" data-cfemail="8ae9e5e4feebfee5cafaeffee8e5e5e1e3e4eda4e9e5e7a4e8f8">alexsilva10s@hotmail.com</span>
                                    </a>
                                </div>
                            </span>
                        </p>
                </div>
			</div>

			<div class="col pb-4 d-sm-block">
                    
                    <header class="pb-2">
                        <h2>Mais Informações</h2>
                    </header>
                    
                    <div class="content" id="info">
                        <ul class="list-unstyled font-weight-bold">
                            <li><p><a href="/quem-somos">Quem Somos</a></p></li>
                            <li><p><a href="#">Empresas</a></p></li>
                            <li><p><a href="/privacidade">Política de Privacidade</a></p></li>
                            <li><p><a href="/termos-de-uso">Termos de Uso</a></p></li>
                            <li><p><a href="#">Dúvidas Frequentes FAQ</a></p></li>
                            <li><p><a href="/contact-us">Fale Conosco</a></p></li>
                        </ul>
                    </div>
                    
                </div>
                
                <div class="col pb-4 d-sm-block">
                    <header class="pb-2">
                        <h2> Nossos Parceiros</h2>
                    </header>
                    
                    <div class="content" id="partners">
                        <div class="row d-flex flex-wrap">
                            
                            <div class="col mt-3">
                                <a href="http://alexdesign.epizy.com/" target="_blank"><img alt="AlexDesign" src="https://via.placeholder.com/150x40" />
                                </a>
                            </div>
                            
                            <div class="col mt-3">
                                <a href="http://alexdesign.epizy.com/" target="_blank"><img alt="AlexDesign" src="https://via.placeholder.com/250x80" />
                                </a>
                            </div>
                            
                            <div class="col mt-3">
                                <a href="http://alexdesign.epizy.com/" target="_blank"><img alt="AlexDesign" style="width: 10em" src="https://via.placeholder.com/200x80" />
                                </a>
                            </div>
                            
                            <div class="col mt-3">
                                <a href="http://alexdesign.epizy.com/" target="_blank"><img alt="AlexDesign" style="width: 10em" src="https://via.placeholder.com/150x40" />
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
		</div>

		<div class="row footer-copy">
            <div class="col-12">
                <span class="d-flex align-items-center pt-4 pb-4 pt-md-3 pb-md-3">
                    <p class="m-0 footer-cred">Serviços e Desenvolvimento de Web e Software AlexDesign - Ipet Todos os Direitos Reservados</p>
                    <a target="_blank" class="d-none d-md-flex ml-auto" href="http://alexdesign.epizy.com/"><img alt="Desenvolvido por Alex Silva" src="https://via.placeholder.com/86x26" width="86" height="26" />
                    </a>
               	</span>
            </div>
        </div>
	</div>
</footer>